.fade-enter-active, .fade-leave-active
  transition: opacity .25s

.fade-enter, .fade-leave-to
  opacity: 0

.slide-enter-active, .slide-leave-active
  animation-duration: 0.5s
  animation-fill-mode: both
  animation-name: slide

.slide-leave-active
  animation-direction: reverse

@keyframes slide
  from
    opacity: 0
    transform: scale3d(0.3, 0.3, 0.3)

  100%
    opacity: 1

.bottom-enter-active, .bottom-leave-active {
  transform: translate(0px, 0px);
  transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.bottom-enter, .bottom-leave-to {
  transform: translateY(100vh) translateY(0px);
}
