@require '~vuetify/src/stylus/settings/_variables.styl'

$lild-colors := {
  white: #FFFEFA,
  off-white: #FAF9F2,
  black: #3A4247,
  gray: #BDBCB9,
  red: #C44343
}

$material-light.background = $lild-colors.off-white
$material-light.text.primary = $lild-colors.black
$material-light.bg-color = $lild-colors.white
$material-light.fg-color = $lild-colors.black
$material-light.text-color = $lild-colors.black

$material-dark.text.primary = $lild-colors.white
$material-dark.text-color = $lild-colors.white
$material-dark.app-bar = $lild-colors.red
